@import 'variables';

aside {
    background-color: $yellow;
    height: 150px;
    padding-top: 1vw;
    p {
        width: 90vw;
        padding-left: 12vw;
        padding-right: 11vw;
        padding-top: 20px;
        color: black;
        font-size: 1.4em;
    }
}

/******************************** Responsive **************************************/

@media screen and (max-width:815px) {
    aside {
        height: 170px;
        p {
            width: 100%;
            font-size: 1.3em;
        }
    }
}

@media screen and (max-width:525px) {
    aside {
        height: 200px;
        p {
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width:385px) {
    aside {
        height: 230px;
        p {
            font-size: 1.1em;
        }
    }
}