@import 'variables';

#clients {
    height: 600px;
    #clients-text {
        padding-left: 10vw;
        padding-top: 8vw;
        h2 {
            font-size: 3.5em;
            color: $yellow;
            padding-bottom: 3vw;
        }
        p {
            width: 50vw;
            font-size: 1.3em;
            padding-bottom: 60px;
        }
    }
}

#clients-logos {
    width: 70vw;
    padding-left: 11vw;
}

/******************************** Responsive **************************************/

@media screen and (max-width:1190px) {
    #clients {
        height: 500px;
        #clients-text p {
                width: 75%;
            }
    }
}

@media screen and (max-width:580px) {
    #clients {
        height: 750px;
        #clients-text p {
            width: 90%;
        }
        #clients-logos {
            flex-direction: column;
            align-items: center;
            width: 70vw;
            justify-content: space-between;
            img {
                width: 60%;
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width:350px) {
    #clients {
        height: 750px;
    }
        
}