@import 'variables';


header {
    height: 1000px;
    padding-top: 50px;
    #header-container {
        width: 90vw;
        height: 120px;
        padding-left: 10vw;
    }
}

nav {
    width: 80px;
    padding-top: 0;
    padding-right: 0;
    .nav-container {
        width: 50px;
        background-color: $yellow !important;
        padding: 10px 0 10px 15px;
        a i {
                color: #fff;
                width: 100%;
            }
        }
}



#hero {
    padding-left: 10vw;
    padding-top: 100px;
    h1 {
        padding-top: 50px;
        font-size: 11em;
        color: $yellow;
        width: 60%;
    }
    p {
        width: 45%;
        font-size: 1em;
        padding-bottom: 10px;
    }
    button {
        font-size: 1.3em;
    }
}


/******************************** Responsive **************************************/

@media screen and (max-width:1650px) {
    header {
        height: 1000px;
    }
}

@media screen and (max-width:1320px) {
    header {
        height: 1200px;
    }
}

@media screen and (max-width:1170px) {
    header {
        height: 900px;
    }
    #hero h1{
        font-size: 9.5em;
        width: 70vw;
    }
    #hero p {
        width: 80%;
        }
    }

@media screen and (max-width:860px) {
    header {
        height: 850px;
        }
        #hero h1{
            font-size: 7em;
        }
        #hero p {
            width: 80%;
            font-size: 1em;
        }
}    

@media screen and (max-width:635px) {
    header {
        height: 800px;
    }
    #hero h1{
        font-size: 6em;
        
        width: 90%;
    }
    #hero p {
        width: 80%;
        font-size: 0.9em;
    }
}

@media screen and (max-width:500px) {
    header {
        height: 700px;
    }
    #hero h1{
        font-size: 5em;
        padding-top: 10px;
    }
    #hero p {
        width: 90%;
        font-size: 0.9em;
    }
}

@media screen and (max-width:418px) {
    header {
        height: 800px;
    }
}
