@import 'variables';


header {
    height: 1000px;
    padding-top: 50px;
    #header-container {
        width: 90vw;
        height: 120px;
        padding-left: 10vw;
    }
}

nav {
    width: 80px;
    padding-top: 0;
    padding-right: 0;
    .nav-container {
        width: 50px;
        background-color: $yellow !important;
        padding: 10px 0 10px 15px;
        a i {
                color: #fff;
                width: 100%;
            }
        }
}



#hero {
    height: 850px;
    padding-left: 10vw;
    padding-top: 100px;
    h1 {
        padding-top: 50px;
        font-size: 11em;
        color: $yellow;
        width: 60vw;
    }
    p {
        width: 35vw;
        font-size: 1em;
        padding-bottom: 10px;
    }
    button {
        font-size: 1.3em;
    }
}


/******************************** Responsive **************************************/

@media screen and (max-width:1650px) {
    header {
        height: 1300px;
    }

    }

@media screen and (max-width:600px) {
    header {
        height: 1150px;
    }
    #hero h1{
        font-size: 8em;
    }
}

@media screen and (max-width:430px) {
    header {
        height: 1150px;
    }
    #hero h1{
        font-size: 5em;
    }
}
