@import 'variables';

/* Porfolio */

#portfolio {
    height: 1600px;
    #text {
        padding-left: 10vw;
        padding-top: 8vw;
        h2 {
            color: $yellow;
            font-size: 3.5em;
            padding-bottom: 3vw;
        }
        p {
            width: 50vw;
            font-size: 1.3em;
        }
    }
}

@media screen and (max-width:1700px) {
    #portfolio {
        height: 1350px;
            }
        }

@media screen and (max-width:1400px) {
    #portfolio {
        height: 1200px;
    }
}

@media screen and (max-width:1200px) {
    #portfolio {
        height: 1050px;
    }
}

@media screen and (max-width:1000px) {
    #portfolio {
        height: 950px;
    }
}

@media screen and (max-width:800px) {
    #portfolio {
        height: 850px;
    }
}