@import 'variables';

/* Services */

#services {
    height: 650px;
    padding-left: 10vw;
    #services-container {
        height: 400px;
        padding-top: 100px;        
        div button {
            padding-top: 100px;
            display: block;
            margin: auto;
        }
    }
}

.services-bloc {
    height: 300px;
    img {
        width: 2vw;
    }
    
    h2 {
        color: $yellow;
        font-size: 3.5em;
    }
    p {
        font-size: 1.2em;
    }
}

