@import 'variables';

/* Stats */

#stats {
    height: 330px;
    #stats-container {
        width: 80vw;
        padding: 60px 0;
    }
}

.stats-bloc {
    height: 200px;
    display: flex;
    justify-content: space-between;
    img {
        width: 1.5vw;
    }
    h3 {
        font-size: 3.8em;
    }
    p {
        color: $yellow;
        font-size: 1.3em;
    }
}