@import 'variables';

/* Stats */

#stats {
    height: 330px;
    #stats-container {
        width: 100%;
        padding: 60px 0;
    }
}

.stats-bloc {
    height: 200px;
    display: flex;
    justify-content: space-between;
    img {
        width: 20%;
    }
    h3 {
        font-size: 3.5em;
    }
    p {
        color: $yellow;
        font-size: 1.3em;
    }
}


/******************************** Responsive **************************************/

@media screen and (max-width:730px) {
    #stats {
        height: 900px;
        #stats-container {
            flex-direction: column;
            align-items: center;
        }
    }
    .stats-bloc p {
        padding-bottom: 30px;
    }

}