/* colors */
/* colors */
header {
  height: 1000px;
  padding-top: 50px;
}
header #header-container {
  width: 80vw;
  height: 120px;
}

nav {
  width: 80px;
  padding-top: 0;
  padding-right: 60vw;
}
nav #nav-container {
  width: 100%;
}
nav #nav-container a {
  background-color: #FFDA00;
  padding: 10px 0 10px 15px;
}
nav #nav-container a i {
  color: #fff;
  width: 100%;
}

#hero {
  height: 850px;
  padding-left: 10vw;
  padding-top: 100px;
}
#hero h1 {
  padding-top: 50px;
  font-size: 11em;
  color: #FFDA00;
  width: 60vw;
}
#hero p {
  width: 35vw;
  font-size: 1em;
  padding-bottom: 10px;
}
#hero button {
  font-size: 1.3em;
}

/******************************** Responsive **************************************/
@media screen and (max-width: 1650px) {
  header {
    height: 1300px;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 1150px;
  }
  #hero h1 {
    font-size: 8em;
  }
}
@media screen and (max-width: 430px) {
  header {
    height: 1150px;
  }
  #hero h1 {
    font-size: 5em;
  }
}
/* colors */
aside {
  background-color: #FFDA00;
  height: 150px;
  padding-top: 1vw;
}
aside p {
  width: 90vw;
  padding-left: 12vw;
  padding-right: 11vw;
  padding-top: 20px;
  color: black;
  font-size: 1.4em;
}

/******************************** Responsive **************************************/
@media screen and (max-width: 815px) {
  aside {
    height: 200px;
  }
  aside p {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 385px) {
  aside {
    height: 230px;
  }
  aside p {
    font-size: 1.1em;
  }
}
/* colors */
/* Services */
#services {
  height: 700px;
  padding-left: 10vw;
}
#services #services-container {
  height: 400px;
  padding-top: 50px;
}
#services #button-services {
  font-size: 1.2em;
}

.services-bloc {
  height: 300px;
}
.services-bloc img {
  width: 50px;
}
.services-bloc h2 {
  color: #FFDA00;
  font-size: 3.5em;
}
.services-bloc p {
  height: 50px;
  font-size: 1.2em;
}

/******************************** Responsive **************************************/
@media screen and (max-width: 991px) {
  #services {
    height: 1200px;
  }
  #services #services-container {
    height: 900px;
    justify-content: center;
  }
  #services #services-container .services-bloc {
    height: 200px;
  }
}
/* colors */
/* Stats */
#stats {
  height: 330px;
}
#stats #stats-container {
  width: 100vw;
  padding: 60px 0;
}

.stats-bloc {
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.stats-bloc img {
  width: 20%;
}
.stats-bloc h3 {
  font-size: 3.5em;
}
.stats-bloc p {
  color: #FFDA00;
  font-size: 1.3em;
}

/******************************** Responsive **************************************/
@media screen and (max-width: 730px) {
  #stats {
    height: 900px;
  }
  #stats #stats-container {
    flex-direction: column;
  }
}
/* colors */
/* Porfolio */
#portfolio {
  height: 1600px;
}
#portfolio #text {
  padding-left: 10vw;
  padding-top: 8vw;
}
#portfolio #text h2 {
  color: #FFDA00;
  font-size: 3.5em;
  padding-bottom: 3vw;
}
#portfolio #text p {
  width: 50vw;
  font-size: 1.3em;
}

@media screen and (max-width: 1700px) {
  #portfolio {
    height: 1350px;
  }
}
@media screen and (max-width: 1400px) {
  #portfolio {
    height: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  #portfolio {
    height: 1050px;
  }
}
@media screen and (max-width: 1000px) {
  #portfolio {
    height: 950px;
  }
}
@media screen and (max-width: 800px) {
  #portfolio {
    height: 850px;
  }
}
/* colors */
#clients {
  height: 600px;
}
#clients #clients-text {
  padding-left: 10vw;
  padding-top: 8vw;
}
#clients #clients-text h2 {
  font-size: 3.5em;
  color: #FFDA00;
  padding-bottom: 3vw;
}
#clients #clients-text p {
  width: 50vw;
  font-size: 1.3em;
  padding-bottom: 60px;
}

#clients-logos {
  width: 70vw;
  padding-left: 11vw;
}

/******************************** Responsive **************************************/
@media screen and (max-width: 580px) {
  #clients {
    height: 800px;
  }
  #clients #clients-logos {
    flex-direction: column;
    align-items: center;
    width: 70vw;
    justify-content: space-between;
  }
  #clients #clients-logos img {
    width: 60%;
    padding: 10px;
  }
}
@media screen and (max-width: 350px) {
  #clients {
    height: 900px;
  }
}
/* colors */
/* Contacts */
#contacts {
  height: 1050px;
  padding: 50px 10vw;
}
#contacts h2 {
  font-size: 3.5em;
  color: #FFDA00;
  padding-bottom: 3vw;
}
#contacts p {
  width: 50vw;
  font-size: 1.3em;
  padding-bottom: 50px;
}

form {
  background-color: #F2F2F2;
  padding: 50px;
}

form .form-label {
  font-size: 1.2em;
}

form .form-control {
  border-color: #FFDA00;
}

form button {
  color: #fff;
  font-size: 1.2em;
  background-color: #FFDA00;
  padding: 10px 15px;
  border: #FFDA00;
  border-radius: 10px;
}

#formGroupExampleInput3 {
  color: black;
  background-color: #F2F2F2;
}

form #floatingTextarea {
  height: 170px;
}

/******************************** Responsive **************************************/
@media screen and (max-width: 680px) {
  #contacts {
    height: 1200px;
  }
}
@media screen and (max-width: 375px) {
  #contacts {
    height: 1270px;
  }
}
@media screen and (max-width: 350px) {
  #contacts {
    height: 1350px;
  }
}
/* colors */
/* Footer */
footer #footer-infos {
  height: 300px;
  background-color: #FFDA00;
}
footer #footer-infos .footer-infos-bloc {
  width: 250px;
}
footer #footer-infos p {
  font-size: 1.4em;
  margin: 0;
}

footer #footer-copyright {
  height: 300px;
  font-size: 1.5em;
}
footer #footer-copyright p span {
  color: #FFDA00;
}

#footer-copyright-logo {
  padding-top: 20px;
}
#footer-copyright-logo #footer-logo {
  display: flex;
}

/******************************** Responsive **************************************/
@media screen and (max-width: 815px) {
  #footer-infos {
    height: 400px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 340px) {
  #footer-copyright p {
    text-align: center;
  }
}
body {
  font-family: "Abel", sans-serif;
}/*# sourceMappingURL=style.css.map */